<head>
    <title>hbd-vic</title>
</head>

<body>

<nav id="nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">HBD Vic</a>
    </div>
</nav>

{{> content}}

</body>

<template name="content">
    <div class="container">

        {{#if started}}
            {{> slider}}
        {{else}}
            {{> startButton}}
        {{/if}}

    </div>
</template>

<template name="startButton">
    <div class="row">
        <br/>

        <div class="s12 center">
            <button id="start-button" class="btn-large waves-effect waves-light">Start</button>
        </div>

    </div>
</template>

<template name="slider">
    <div class="slider fullscreen">
        <ul class="slides">
            {{#each images}}
                <li>
                    <img src="/assets/img/{{this}}">
                    <div class="caption {{randomAlign}}-align">
                        <h3>LO SIENTO, TU NO PROGRAMAS</h3>
                        <h5 class="light grey-text text-lighten-3">{{insult this}}</h5>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>


</template>
